body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background: linear-gradient(to right, #ccb7eb, #8b69ea);
}

header {
    text-align: center;
    background-color: rgb(100, 100, 234);
    color: white;
    padding: 10px;
}

#luasForm {
    margin-bottom: 1rem;
}

.navbar {
    text-align: center;
    display: flex;
    justify-content: center;
}

.navbar a {
    display: inline-block;
    margin: 0 15px; 
    text-decoration: none;
    font-weight: bold;
}

article {
    text-align: center;
}

#sisiLuas,
#sisiKeliling {
    width: 100%;
    box-sizing: border-box; 
    padding: 8px; 
}

.hitungButton {
    background-color: rgb(58, 58, 239);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: medium;
    cursor: pointer;
}

.resetButton {
    background-color: rgb(239, 179, 58);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: medium;
    cursor: pointer;
}

.hitungButton:hover {
    background-color: rgb(4, 4, 155);
}

.resetButton:hover {
    background-color: rgb(203, 130, 27);
}

button:active {
    transform: translateY(2px);
}

.hitungButton {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

main {
    border: solid rgb(81, 81, 229) 1px;
    padding: 5px;
}

img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

#luasForm,
#kelilingForm {
    text-align: center;
}

#luasForm button,
#kelilingForm button {
    margin-top: 10px;
}

#luasForm button,
#kelilingForm button {
    display: inline-block;
    margin: 0 10px; 
    margin-top: 10px;
}

#luasForm label,
#kelilingForm label {
    margin-bottom: 8px; 
    display: block;
}

a {
    border: solid rgb(130, 30, 223) 2px;
    border-radius: 5px;
    padding: 2px;
}